.drawer {
  position: absolute;
  top: 6rem;
  right: -20rem;
  width: 20rem;
  background-color: var(--very-dark);
  color: var(--very-light);
  transition: right 0.5s ease-in-out;
  padding: 1rem;
}

.drawer h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.open {
  right: 0;
}

.achievements label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.achievements label span {
  margin-left: 1rem;
}
