.mapContainer {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}

.countryName {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  color: var(--very-dark);
}

.mapContainer > svg {
  overflow: visible;
  height: 100%;
  width: 100%;
}

.geography {
  fill: var(--medium);
  stroke: var(--very-light);
  stroke-width: 0.4;
  outline: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out, fill 0.3s ease-in-out;
}

.geography:hover {
  fill: var(--very-dark);
}

.selectedCountry {
  fill: var(--very-dark);
}

.unfocusedCountry {
  opacity: 0.7;
}

.bronze {
  fill: var(--single);
}

.silver {
  fill: var(--double);
}
.gold {
  fill: var(--triple);
}
