/* Variables */
:root {
  --very-light: #e4e5e6;
  --light: #36454f;
  --medium-light: #2b373f;
  --medium: #20292f;
  --medium-dark: #161c20;
  --dark: #0b0e10;
}

/* Base styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--light);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}
