/* Variables */
:root {
  --very-light: #e1d8c8;
  --light: #dcba82;
  --medium: #a88e63;
  --dark: #5c5852;
  --very-dark: #5c4d36;
  --single: #dfb667;
  --double: #a0a0a0;
  --triple: #f2d732;
}

/* Base styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--very-light);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}
